# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.egg
dist/
build/
.eggs/

# 虚拟环境
.venv/
venv/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
.trae

# 环境变量
.env

# 测试
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/

# 项目特定
.zhs/
.temp/
old/

# uv
.python-version

#config
config.toml